// Дванадцятий паршал






.card {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


.team-card {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 24px;
    border-left: 1px solid var(--crem-grey);
    border-right: 1px solid var(--crem-grey);
    border-bottom: 1px solid var(--crem-grey);
}