// Тринадцятий паршал


.portfolio-desc {

    font-size: 18px;
    line-height: 1.55;
    color: var(--white);
    margin-left: 24px;
    margin-right: 24px;

}

.thumb {
    position: relative;
    overflow: hidden;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px ;
width: 270px;
height: 120px;
background-color: var(--grey-bg);
}

.portfolio-list {
    font-family: "Roboto";
    position: absolute;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.portfolio-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    margin-bottom: 4px;
    letter-spacing: 0.06em;
    color: var(--black-text);
}



.group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 50px;

}