// Пятнадцятий паршал





.label {
    overflow-x: visible;
    bottom: 0;
    color: var(--white);
}


.meta {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}


.innert {
    padding-top: 0;
}

.about {

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--black-text);
    margin-bottom: 50px;
text-align: center;
}
.about-text {
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;

}

.about-a {
position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;

}


.about-title {
    color: var(--black-text);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 700;
    margin-bottom: 10px;
}

.about-list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    margin: 0px;
}

.title {
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--black-text);
}

.title-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}


.text {
    color: var(--white);
}
